			.nav {
			 background: #1A4254;
			  height: 80px;
			  width: 100%;
			  position :fixed;
			  font-family: 'Varela Round';
			  z-index:1;
			  
			}

			.nav ul {
			  margin: 0 auto;
			  padding: 0;
			  text-align: center;
			}

			.nav ul li {
			  color: #44C1A9;
			  display: inline-block;
			  height: 80px;
			  line-height: 80px;
			  padding: 0 10px;
			}

			.nav ul li:hover {
			  background: #44C1A9;
			  cursor: pointer;
			  transition: background .5s;
			}

			a{

				text-decoration:none;
				color:#fff;
				
			}
			
			.container {
			margin: 0 auto;
			}
			
			#heading{
				
				
				padding-left:140px;
				padding-bottom:20px;
			}
			
			#admin_style{
				
				font-size:40px;
				font-family: 'PT Sans', sans-serif;
				font-weight:blod;
			}
			
			#registration_style{
				
				font-size:40px;
				font-family: 'PT Sans', sans-serif;
				font-weight:normal;
				
			}
			
			body
			{
				margin :0;
				padding :0;
				background-color: #44C1A9;
				
			}
			
			#form
			{
				box-shadow: 8px 10px 10px 5px #378E8A;
				color:#232525;
				background-color: #1A4254;
				font-family: 'Play', sans-serif;
				color:#44C1A9;
				float:left;
				margin:auto;
				padding:10;
				font-weight:bold;
				width:410px;
				z-index:0;
			
			}
			
			
		
			#formfull
		
			{
				  position: absolute;
				  float:left;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
			}
				
			

			
			#form input{
				float:right;
			}
			
			#form textarea{
				float:right;
			}
			
			#form select{
				float:right;
			}
			

			#form input[type="text"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color:#fff;
			}
		
			
			#form input[type="email"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color:#fff;
			}
			
			#form input[type="password"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color:#fff;
			}
			
			#f_p{
				
				float:left;
				color:#3D6780;
				font-size:80%;
			}
			
			#f_p:hover{
				
				text-decoration:underline;
			}
			
			#form input[type=submit] {
				padding:5px 15px; 
				background:#44C1A9; 
				border:0 none;
				cursor:pointer;
				margin:10 20 20 20;
				color:white;
				font-weight:bold;
				font-size:15px;
				font-family:'Play', sans-serif;

			}
			
			#form input[type=submit]:hover{
				
				background: #0D2635;
				cursor: pointer;
				transition: background .5s;	
			}
			
			input:focus,
			textarea:focus{
				
				outline: none !important;
				border-color: #44C1A9;
				box-shadow: 0 0 10px #44C1A9;
			}
