			
			.nav {
			  background: #1A4254;
			  height: 80px;
			  width: 100%;
			  position :fixed;
			  font-family: 'Varela Round';
			  z-index:1;
			  
			}

			.nav ul {
			  margin: 0 auto;
			  padding: 0;
			  text-align: center;
			}

			.nav ul li {
			  color: #44C1A9;
			  display: inline-block;
			  height: 80px;
			  line-height: 80px;
			  padding: 0 10px;
			}

			.nav ul li:hover {
			  background: #44C1A9;
			  cursor: pointer;
			  transition: background .5s;
			}

			a{

				text-decoration:none;
				color:#fff;
				
			}
			
			.container {
			margin: 0 auto;
			}
			
			
			#heading{
				
				
				padding-left:70px;
				padding-bottom:20px;
			}
			
			#admin_style{
				
				font-size:40px;
				font-family: 'PT Sans', sans-serif;
				font-weight:bold;
			}
			
			#registration_style{
				
				font-size:40px;
				font-family: 'PT Sans', sans-serif;
				font-weight:normal;
				
			}
			
			body
			{
				margin :0;
				padding :0;
				background-color: #44C1A9;
				height:800px;
				
			}
			
			#form
			{
				box-shadow: 8px 10px 10px 5px #378E8A;
				color:#232525;
				background-color: #1A4254;
				font-family: 'Play', sans-serif;
				color:#44C1A9;
				float:left;
				margin-top:150px;
				padding:10;
				font-weight:bold;
				width:410px;
				z-index:0;

			
			}
			
			#formfull
			{
				  position: absolute;
				  float:left;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
			}
				
			

			
			#a
			{
				float:right;
			}
			
			
			
			#form select{
				float:right;
			}
			

			
			#form input[type="text"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color : white;
			}
			
			#form input[type="date"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color : white;
			}
			
			#form input[type="email"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color:#fff;
			}
			
			
			#form input[type="radio"] {
				margin-top:5px;
			}
			
			#form input[type="password"] {
				border: none;
				font-size: 16px;
				padding: 5px;
				width: 200px;
				background-color:#0D2635;
				color:white;
			}
			
			#form select[type="dropdown"]
			{
				
				border: none;
				font-size: 16px;
				color:white;
				padding: 5px;width: 200px;
				background-color:#0D2635;
			
			}
			
			#form textarea[type=address]
			{
			
				border: none;
				font-size: 16px;
				padding: 5px;width: 200px;
				background-color:#0D2635;
				color:white;
			
			}
			
			#form input[type=submit] {
				padding:5px 15px; 
				background:#44C1A9; 
				border:0 none;
				cursor:pointer;
				margin:50 10 10 60;
				color:white;
				font-weight:bold;
				font-size:15px;
				font-family:'Play', sans-serif;

			}
			
			
			#form input[type=submit]:hover{
				
				background: #0D2635;
				cursor: pointer;
				transition: background .5s;	
			}
			
			input:focus,
			textarea:focus{
				
				outline: none !important;
				border-color: #44C1A9;
				box-shadow: 0 0 10px #44C1A9;
			}
			
			#x,#x1{
				
				float:right;
				margin-top:5px;
				
			}
			
			#x1{
				
				margin-right:28px;
				margin-left:30px;
				margin-top:-1px;
			}
			
			#y{
				
				position:relative;
				top:-30px;
				left:100px;
			}
			
			#j{
				
				float:left;
			}
			
			#y{
				
				float:right;
				margin-top:48px;
				margin-right:23px;
			}
			
		
			
